.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  /* padding: 60px 4% 30px; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#bg img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: hue-rotate(260deg);
  /* background-repeat: no-repeat; */
  /* background-image: url(https://cdn.dribbble.com/users/1338391/screenshots/15344962/forest_at_night_background_landscape_wallpaper_flat_desin_vector_art_4x.jpg); */
  /* background-image: url(https://i.pinimg.com/originals/2a/0e/32/2a0e32c7a0584b5928252d800837e348.jpg); */
  /* background-image: url(https://i.pinimg.com/originals/68/7b/28/687b287b0f3bf8b0ab1086dc92ffeb0e.jpg); */

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
