@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Yanone+Kaffeesatz:wght@400;700&display=swap');

/* font-family: 'Abril Fatface', cursive; THICK
font-family: 'Montserrat', sans-serif; NORMAL
font-family: 'Yanone Kaffeesatz', sans-serif; THIN */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
