#inputName{
    position: relative;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 1000px;
    margin: auto;
    padding-top: 85px;
}

#formHeader{
    z-index: 1;
}

#form{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: inherit;
    flex-wrap: wrap;
    gap: 10px;
}

#form input[type=text]{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 15px;
    color:aliceblue;
}

#form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:aliceblue;
    opacity: .5; /* Firefox */
}

#inputGroupSelect02, #inputGroupSelect03{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 15px;
    color:aliceblue;
}

.input-group-text{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	/* border-radius: 10px; */
    color:aliceblue;
}

.input-group{
    flex-direction: inherit;
    justify-content: center;
}

#formDiv{
    border-radius: 7px;
    position: absolute;
    height: 300px;
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%); 

    border-top: 2px solid rgba(225, 225, 225, 0.3);
    border-left: 2px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
}

.disabledForm{
    pointer-events: none;
}