#inputName{
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 1000px;
    margin: auto;
}

#form{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    flex-direction: inherit;
    flex-wrap: wrap;
}

.input-group{
    flex-direction: inherit;
    justify-content: center;
}

#formDiv{
    position: absolute;
    height: 300px;
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}