*{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
 
    font-size: 20px;
    line-height: 24px;
}
#inputName{
    position: relative;
    top: 12%;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: flex-start;
}

#formHeader {
    font-family: 'Abril Fatface', cursive;
    color: white;
    margin: 35px 0px!important;
    z-index: 1;
}

#form{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    flex-direction: inherit;
    flex-wrap: wrap;
    gap: 10px;
}

#form input[type=text]{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 15px;
    color:aliceblue;
}

#form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:aliceblue;
    opacity: .5; /* Firefox */
}

#inputGroupSelect02, #inputGroupSelect03{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 15px;
    color:aliceblue;
}

#inputGroupSelect03{
    border-radius: 0px 20px 20px 0px;
}

.input-group-text{
    background: transparent;
	border: 1px solid rgba(255,255,255,0.8);
    color:aliceblue;
}

.input-group{
    flex-direction: inherit;
    justify-content: center;
}

#formDiv{
    border-radius: 7px;
    position: absolute;
    height: 265px;
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 13px 11px 5px rgb(0 0 0 / 25%);
    background-color: rgb(55 45 96 / 27%); 

    border-top: 2px solid rgba(225, 225, 225, 0.3);
    border-left: 2px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
}

.disabledForm{
    pointer-events: none;
}

.input-group-text{
    border-radius: 20px 0px 0px 20px;
}

#submitBtn{
    border-radius: 20px;
    margin-left: 5px;
}


/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
    #inputName{
        top: 7%;
    }

    #formHeader{
        font-size: 24px;
    }

    #formDiv{
        width: 85%;
    }

    #form{
        width: 75%;
    }

    #submitBtn{
        width: 66px;
        font-size: smaller;
        padding: 2px;
    }
}


/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
}


/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}


/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}