.topNavDiv{
    position: absolute;
    justify-items: center;
    width: 100vw;
    font-weight: 700;
    text-shadow: 2px 2px 0px #1d454d;
}

#topNav{
    padding: 15px 25px;
    gap: 50px;
}


.nav-link{
    color: white;
    padding: 5px 20px;
}

.nav-link.active{
    border-radius: 20px;
    background-color: #132c5878!important;
}

.nav-link:hover, .nav-link:focus{
    color: #fec108!important;
}


/*low resolution tablets, mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){

    #topNav{
        gap: 10px;
    }
}


/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
}


/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}


/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
