.topNavDiv{
    position: absolute;
    justify-items: center;
    width: 100vw;
    font-weight: 700;
    text-shadow: 2px 2px 0px #1d454d;
}

#topNav{
    padding: 15px 25px;
    gap: 50px;
}


.nav-link{
    color: white;
    padding: 5px 20px;
}

.nav-link.active{
    border-radius: 20px;
    background-color: #132c5878!important;
}

.nav-link:hover, .nav-link:focus{
    color: #fec108!important;
}
